<!--Sidebar-->
<!--Yellow arrow opens and closes it-->
<!--Red/White theme to fit the original Pokedex-->

<nav class="navbar-container">
	<div class="navbar-username-display">
		<p class="navbar-username">
			Hello, <span id="user-name">Trainer</span>!
		</p>
	</div>
	<div class="navbar-links">
		<a href="/">Home</a>
		<a href="/pokedex">Pokedex</a>
		<a href="/moves">Moves list</a>
	</div>
</nav>
