<!--Sidebar-->
<!--Yellow arrow opens and closes it-->
<!--
	<a href="" id="nav-gen-filter">Generation Filter</a>
-->

<nav class="navbar-container">
	<div class="navbar-links">
		<a href="/" id="nav-home-btn">Home</a>
		<a href="/pokedex" id="nav-pokedex-btn">Pokedex</a>
		<a href="/moves" id="nav-moves-btn">Moves list</a>
		<a href="" id="nav-type-filter">Type Filter</a>
		<a href="" id="nav-moves-filter">Moves Filter</a>
	</div>

	<script>
		if(href == "/pokedex") {
			let target = document.getElementById("nav-pokedex-btn");

			target.className.add("hidden");
		}
	</script>
</nav>
