<!--Sidebar-->
<!--Yellow arrow opens and closes it-->
<!--Red/White theme to fit the original Pokedex-->

<nav class="navbar-container">
	<div class="navbar-links">
		<a href="/">Home</a>
		<a href="/pokedex">Pokedex</a>
		<a href="/moves">Moves list</a>
	</div>
</nav>
