<div class="trainer-card-container">
    <div class="trainer-icon-display">
        <div class="trainer-icon">
            <img src="/images/Bulbasaur.png" alt="trainer-icon">
        </div>
    </div>
    <div>
        <div class="trainer-username-display">
            <p class="trainer-username">
                <span id="user-name">Guest</span>
            </p>
        </div>
        <div class="trainer-favorite-display">
            <img src="/images/Bulbasaur.png" alt="fav-icon">
            <img src="/images/Bulbasaur.png" alt="fav-icon">
            <img src="/images/Bulbasaur.png" alt="fav-icon">
            <img src="/images/Bulbasaur.png" alt="fav-icon">
            <img src="/images/Bulbasaur.png" alt="fav-icon">
            <img src="/images/Bulbasaur.png" alt="fav-icon">
        </div>
    </div>
</div>
