<div class="trainer-card-container">
    <div class="trainer-icon-display">
        <div class="trainer-icon">
            <img src="/images/Bulbasaur.png" alt="trainer-icon">
        </div>
    </div>
    <div>
        <div class="trainer-username-display">
            <p class="trainer-username">
                <span id="user-name">Trainer Name</span>
            </p>
        </div>
        <div class="trainer-favorite-display">
            <img src="/images/Bulbasaur.png" alt="fav-icon">
            <img src="/images/Ivysaur.png" alt="fav-icon">
            <img src="/images/Venusaur.png" alt="fav-icon">
            <img src="/images/Pidgeot.png" alt="fav-icon">
            <img src="/images/Pikachu.png" alt="fav-icon">
            <img src="/images/Beedrill.png" alt="fav-icon">
        </div>
    </div>
</div>


<!--
	<div class="navbar-username-display">
		<p class="navbar-username">
			Hello, <span id="user-name">Trainer</span>!
		</p>
	</div>
-->