<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Including Head partial-->
		<%- include('./partials/head'); %>
	</head>
	<body class="error-container page">
		<!--Including Navigation partial-->
		<%- include('./partials/nav') %>
		<!--Error Page Title-->
		<div class="error-title title"><%= %></div>
		<div></div>
	</body>
</html>
