<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body class="homepage-container page">
		<%- include('./partials/nav') %>
		<div class="homepage-paths">
			<div class="homepage-selection">
				<a href="/pokedex">Pokedex</a>
			</div>
			<div class="homepage-selection">
				<a href="/moves">Moves</a>
			</div>
		</div>
	</body>
</html>
