<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Including Head partial-->
		<%- include('./partials/head'); %>
	</head>
	<body class="login-container page">
		<!--Including Navigation partial-->
		<%- include('./partials/nav') %>
		<!--Login Page Title-->
		<div class="login-title title">Login Page</div>
	</body>
</html>
