<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Including Head partial-->
		<%- include('./partials/head'); %>
	</head>
	<body class="login-container page">
		<!--Including Navigation partial-->
		<%- include('./partials/nav') %>
		<!--Login Page Title-->
		<div class="login-title title">
			<p>
				Login Page
			</p>
			<div class="login-form">
				<div><p>Enter your Trainer Credentials</p></div>
				<form action="">
					<label for="email">Email:</label><br>
  					<input type="text" id="email" name="email"><br>
					<label for="password">Password:</label><br>
					<input type="password" id="password" name="password"><br>
					<input type="submit" value="Login">
				</form>
			</div>
		</div>
	</body>
</html>
