<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Including Head partial-->
		<%- include('./partials/head'); %>
	</head>
	<body class="register-container page">
		<!--Including Trainer card partial-->
		<%- include('./partials/trainer_card') %>
		<!--Including Navigation partial-->
		<%- include('./partials/nav') %>
		<!--Register Page Title-->
		<div class="register-title title">Register Page</div>
		<div>
			<form action="">
				<div>
					<label for="username">Username</label>
					<input type="text" name="username" id="username" required />
				</div>
				<div>
					<label for="email">Email</label>
					<input type="email" name="email" id="email" required />
				</div>
				<div>
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						id="password"
						required
					/>
				</div>
			</form>
		</div>
	</body>
</html>
