<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Including Head partial-->
		<%- include('./partials/head'); %>
	</head>
	<body class="movesList-container page">
		<!--Including Trainer card partial-->
		<%- include('./partials/trainer_card') %>
		<!--Including Navigation partial-->
		<%- include('./partials/nav') %>
		<!--Moves List Title-->
		<div class="moves-title title">Moves List</div>
	</body>
</html>
