<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body class="movesList-container page">
		<%- include('./partials/nav') %>
		<div class="moves-title title">Moves List</div>
	</body>
</html>
