<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Including Head partial-->
		<%- include('./partials/head'); %>
	</head>
	<body class="register-container page">
		<!--Including Navigation partial-->
		<%- include('./partials/nav') %>
		<!--Register Page Title-->
		<div class="register-title title">Register Page</div>
	</body>
</html>
