<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Including Head partial-->
		<%- include('../Partials/head'); %>
	</head>
	<body class="homepage-container page">
		<!--Including Trainer card partial-->
		<%- include('../Partials/trainer_card') %>
		<!--Including Navigation partial-->
		<%- include('../Partials/nav') %>
		<!--Homepage Title-->
		<div class="homepage-title title">Vanilla Dex</div>
		<div class="homepage-paths">
			<div class="homepage-selection">
				<!--Homepage link that routes to /pokedex and opens the Pokedex-->
				<a href="/pokedex">
					<p>
						Pokedex
					</p>
				</a>
			</div>
			<div class="homepage-selection">
				<!--Homepage link that routes to /moves and opens the Moves List-->
				<a href="/moves">
					<p>
						Moves
					</p>
				</a>
			</div>
		</div>
		<div class="daily-facts hidden">
			<div class="daily">
				<!--Homepage link that routes to /pokedex and opens the Pokedex-->
				<div href="/pokedex">
					<p>
						Pokemon of the Day
					</p>					
				</div>
			</div>
			<div class="daily">
				<!--Homepage link that routes to /moves and opens the Moves List-->
				<div href="/moves">
					<p>
						Move of the Day
					</p>
				</div>
			</div>
		</div>
		<script>
			fetch("/pokedex/api")
				.then((response) => {
					console.log(response);
					return response.json();
				})
				.then((data) => {
					consoleLogData(data);
				})
				.catch((err) => {
					console.log(err);
				});

			console.log("hello world");
		</script>
	</body>
</html>
