body {
	text-align: center;
}

a {
	color: rgb(255, 0, 0);
	font-size: 3vh;
	padding: 2vw;
	text-decoration: none;
	:focus {
		text-decoration: none;
	}
}

.dex-pokemon-card {
	border: 2px solid black;
	display: flex;
	// top right bottom left
	padding: 1vh 1vh 1vh 1vh;
	margin: 2vh;
	max-width: 25vw;
	min-height: 20vh;
	width: auto;
	height: auto;
	:first-child {
		padding-right: 2%;
	}
}

.pokemon-card-id {
	display: flex;
	p {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.pokedex-card-container {
	margin-top: 5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.pokemon-card-pokemon {
	display: inline;
	width: 100%;
}

.poke-image {
	width: 20vh;
	height: 20vh;
}
