body {
	text-align: center;
}

a {
	color: rgb(255, 0, 0);
	font-size: 3vh;
	padding: 2vw;
	text-decoration: none;
	:focus {
		text-decoration: none;
	}
}

.dex-pokemon-card {
	color: white;
	background-color: black;
	padding: 2vh;
}

.card-info {
	border: 8px solid green;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
