body {
  text-align: center;
  background-color: #063e42;
}

a {
  color: #00ff11;
  font-size: 3vh;
  padding: 3vh;
  text-decoration: none;
}

a :focus {
  text-decoration: none;
}

.dex-pokemon-card {
  background-color: #cf1800;
  color: white;
  border: 1px solid #850f00;
  -webkit-box-shadow: #940000 0px 0px 5px 1px;
          box-shadow: #940000 0px 0px 5px 1px;
  height: auto;
  margin: 2vh;
  max-width: 20vw;
  min-height: 20vh;
  padding: 1vh 1vh 1vh 1vh;
  width: auto;
}

.dex-pokemon-card :first-child {
  padding-right: 2%;
}

.homepage-paths {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20%;
}

.homepage-paths :last-child {
  margin-left: auto;
  margin-right: 10%;
}

.homepage-selection {
  background-color: #b30000;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #b30000), color-stop(86%, black), color-stop(50%, lightgray));
  background: linear-gradient(90deg, #b30000 10%, black 86%, lightgray 50%);
  border: 1.5px solid black;
  border-radius: 100px;
  height: 25vh;
  margin-top: 11vh;
  margin-left: 10%;
  width: 40vw;
}

.homepage-selection a {
  border-radius: 100px;
  display: inline-block;
  padding: 0;
  position: relative;
  height: 25vh;
  width: 40vw;
  z-index: 1;
}

.homepage-selection a p {
  background-color: #161616;
  border-radius: 2px;
  font-size: 3em;
  height: 25.313vh;
  letter-spacing: 1px;
  line-height: 12vh;
  margin-top: 0;
  width: 29.3vw;
  -webkit-transform: translate(-4.5%, -0.5%);
          transform: translate(-4.5%, -0.5%);
}

.navbar-container {
  bottom: 6%;
  left: 1%;
  position: fixed;
  top: 18%;
  width: 20%;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
}

.navbar-links a {
  background-color: #cf1800;
  border: 1px solid #850f00;
  border-radius: 10px 170px 10px 10px;
  -webkit-box-shadow: #940000 0px 0px 5px 1px;
          box-shadow: #940000 0px 0px 5px 1px;
  color: white;
  margin: 3vh;
}

.page {
  margin: 0;
}

.pokemon-card-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pokemon-card-image {
  background-color: black;
  border: 20px solid white;
  width: 60%;
  margin: auto;
}

.pokemon-card-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.primary {
  color: blue;
}

.pokedex-card-container {
  background-color: #063e42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 26%;
  margin-top: 5vh;
  width: 72%;
}

.pokemon-card-pokemon {
  display: inline;
  width: 100%;
}

.pokemon-card-pokemon p {
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.poke-image {
  height: 20vh;
  width: 20vh;
}

.title {
  font-size: 6.5em;
  color: #bababa;
  margin-left: 20%;
  margin-top: 5vh;
  width: 80%;
}

.trainer-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #077981;
  border-radius: 0px 70px 0px 0px;
  bottom: 89%;
  left: 1%;
  position: fixed;
  top: 2%;
  width: 25%;
  z-index: -1;
}

.trainer-card-container img {
  background-color: #d3d3d3;
  border: 7px solid #021314;
  border-radius: 0px 0px 30px 5px;
  height: 63px;
  padding: 1vh;
  width: 63px;
}

.trainer-username-display {
  border-radius: 0px 25px 0px 0px;
  color: #bababa;
  max-height: 3.8vh;
  width: 14vw;
  text-align: left;
  overflow: hidden;
}

.trainer-username-display p {
  font-size: large;
  margin: 4% 1% 4% 4%;
}

.trainer-favorite-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 14vw;
}

.trainer-favorite-display img {
  background-color: #021314;
  border: none;
  border-radius: 5px;
  margin-top: 1vh;
  padding: 2px;
  height: 21px;
  width: 21px;
}
/*# sourceMappingURL=index.css.map */