body {
	text-align: center;
}

a {
	color: rgb(255, 0, 0);
	font-size: 3vh;
	padding: 2vw;
	text-decoration: none;
	:focus {
		text-decoration: none;
	}
}

.dex-pokemon-card {
	border: 2px solid black;
	display: flex;
	// top right bottom left
	padding: 1vh 1vh 1vh 1vh;
	margin: 2vh;
	max-width: 20vw;
	min-height: 20vh;
	width: auto;
	height: auto;
	:first-child {
		padding-right: 2%;
	}
}

.homepage-paths {
	display: flex;
	justify-content: space-evenly;
	margin-left: 20%;
	margin-top: 15vh;
	width: 80%;
}

.homepage-selection {
	height: 25vh;
	width: 20vw;
	border: 2px solid black;
	a {
		display: inline-block;
		position: relative;
		z-index: 1;
		padding: 5.5vw 7.5vw 5.5vw 7.5vw;
		margin: -2em;
		transform: translate(0%, 20%);
	}
}

.navbar-container {
	display: flex;
	flex-direction: column;
	background-color: red;
	width: 20%;
	top: 0;
	bottom: 0;
	position: fixed;
	a {
		color: white;
	}
}

.page {
	margin: 0;
}

.pokemon-card-id {
	display: flex;
	p {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.pokedex-card-container {
	margin-top: 5vh;
	margin-left: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.pokemon-card-pokemon {
	display: inline;
	width: 100%;
}

.poke-image {
	width: 20vh;
	height: 20vh;
}

.title {
	margin-left: 20%;
	width: 80%;
	font-size: 6.5em;
	margin-top: 5vh;
}
